<div class="container mt-4">
  <div class="title"><h1>Password Generator</h1></div>
  <label for="FormContolInput" class="form-label">Lenght: </label>
  <!--event binding when the checkbox is tick so the function-->
  <input
    class="form-control"
    placeholder="Enter password"
    (input)="onChangeLength($event.target!)"
  />
  <div class="form-check">
    <!--event binding when the checkbox is tick so the function-->
    <input
      class="form-check-input"
      type="checkbox"
      (change)="onChangeUseLetters()"
    />
    <label class="form-check-label" for="flexCheckDefault"> Use Letters </label>
  </div>
  <div class="form-check">
    <!--event binding when the checkbox is tick so the function-->
    <input
      class="form-check-input"
      type="checkbox"
      (change)="onChangeUseNumbers()"
    />
    <label class="form-check-label" for="flexCheckChecked"> Use Numbers </label>
  </div>
  <div class="form-check">
    <!--event binding when the checkbox is tick so the function-->
    <input
      class="form-check-input"
      type="checkbox"
      (change)="onChangeUseSymbols()"
    />
    <label class="form-check-label" for="flexCheckChecked"> Use Symbols </label>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <!--Disable button if length and one of the checkedboxes are not checked-->
    <button
      [disabled]="
        !(length && (includeLetters || includeNumbers || includeSymbols))
      "
      (click)="onButtonClick()"
      type="button"
    >
      Generate
    </button>
  </div>

  <label for="exampleFormControlInput1" class="form-label">Your Password</label>
  <input type="pasword" class="form-control" [value]="password" />
</div>
<!-- <h1>Password Generator</h1>
<div class="container">
  <div>
    <label>Length:</label>
    <input />
  </div>
  <div>
    <label>Use Letters</label>
    <input (change)="onChangeUseLetter()" type="checkbox" />
  </div>
  <div>
    <label>Use Numbers</label>
    <input (change)="onChangeUseNumbers()" type="checkbox" />
  </div>
  <div>
    <label>Use Symbols</label>
    <input (change)="onChangeUseSymbols()" type="checkbox" />
  </div>
  <div>
    <button (click)="onButtonClick()">Generate</button>
  </div>
  <div>
    <label>Password:</label>

    <input [value]="password" />
  </div>
</div> -->
